# Supabase (public)
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

# MOCK | DB
NEXT_PUBLIC_DATA_BACKEND=MOCK

# DB (Drizzle / Postgres / Supabase)
# Example (replace with your own):
# DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DB?sslmode=require"
DATABASE_URL=


# OpenAI (serveur uniquement)
# OPENAI_API_KEY="your-openai-api-key"
OPENAI_API_KEY=

# Optionnel: utilisé par Drizzle Kit pour migrer la base Supabase
# SUPABASE_DB_URL=postgresql://postgres:password@host:5432/postgres
